# Tabular models

In [1]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [13]:
path.ls()

[PosixPath('/WORKSPACE/.fastai/data/adult_sample/adult.csv'),
 PosixPath('/WORKSPACE/.fastai/data/adult_sample/export.pkl'),
 PosixPath('/WORKSPACE/.fastai/data/adult_sample/models')]

In [14]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [15]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [16]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [17]:
data.show_batch(rows=10)

In [18]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [19]:
learn.fit(1, 1e-2)

In [24]:
doc(tabular_learner)

## Inference

In [ ]:
row = df.iloc[0]

In [ ]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.4402, 0.5598]))